@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");


.App {
  // border-radius: 25px;
    box-shadow: 5px 10px 3px rgba(0,0,0,.2);
    margin: 3% 20%;
    padding: 30px;
    background-color: white;
    border: oldlace 1px;
    text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  font-family: 'Fira Sans', sans-serif;
  background-color: #cfeaff;
  background-image: 
  linear-gradient(to bottom, rgba(248, 248, 248, 0.11), rgba(176, 230, 255, 0.486)),
  url("http://www.transparenttextures.com/patterns/dark-geometric.png");
}

.navContainer {
  background: black;
  a{
    border-radius: 5px;
    // border: solid 5px;
    width: 100px;
    padding: 10px 10px 10px 10px;
    margin: 6px 6px 6px 10px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    background-color: orange; 
    color: white;
    font-size: 1em;
    box-shadow: 5px 10px 3px rgba(0,0,0,.2);
  }
} 

.homeContainer {
  
  .image {
    height: 10em;
    width: 10em;
  }
}

.button {
  background-color: orange; 
  border: 1px solid;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  box-shadow: 0px 5px 5px rgba(0,0,0,.2);
  border-radius: 5px;

}

li {
  list-style-type: none ;
  cursor: pointer;
  transition: font-size .3s;
}

.form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;

    input, select {
      width: 50%;
      padding: 5px 10px;
      margin: 4px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
}